In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
all_files = [file for file in os.listdir('./Sales_Data')]

#### to merge all files, I could read each file and place its data in a dataframe (df). Then I can 'export' that dataframe in a new CSV

In [4]:
merged_data_df = pd.DataFrame()

for file in all_files:
    file_read = pd.read_csv('./Sales_Data/' + file)

    # concat. existing df from previous-read file with new file 
    merged_data_df=pd.concat([merged_data_df, file_read])

In [5]:
all_data = merged_data_df.to_csv('all_data.csv',index=False)
merged_data = pd.read_csv('all_data.csv')
merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# cleaning data

#### NaN search and remove

In [11]:
# print(merged_data[merged_data.isna().any(axis=1)].head())
merged_data = merged_data.dropna(how='all')

#### add col

In [12]:
merged_data['Month'] = merged_data['Order Date'].str[0:2] # adding col with month: str

#### literal 'Or' in Month col

In [13]:
merged_data = merged_data[merged_data['Month'].str[0:2] != 'Or']

In [14]:
merged_data['Month'] = merged_data['Month'].astype('int32')

#### sum up prices for each month (quantity * price each)
#### New method: convert to numeric for specific col

In [16]:
merged_data['Quantity Ordered'] = pd.to_numeric(merged_data['Quantity Ordered'])

merged_data['Price Each'] = pd.to_numeric(merged_data['Price Each'])

In [18]:
merged_data['Sales'] = merged_data['Quantity Ordered'] * merged_data['Price Each']
merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

#### Group by Months

In [21]:
summed_months= merged_data.groupby('Month').sum()
summed_months.head()

       Quantity Ordered    Price Each         Sales
Month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06