In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
all_files = [file for file in os.listdir('./Sales_Data')]

#### to merge all files, I could read each file and place its data in a dataframe (df). Then I can 'export' that dataframe in a new CSV

In [4]:
merged_data_df = pd.DataFrame()

for file in all_files:
    file_read = pd.read_csv('./Sales_Data/' + file)

    # concat. existing df from previous-read file with new file 
    merged_data_df=pd.concat([merged_data_df, file_read])

In [5]:
all_data = merged_data_df.to_csv('all_data.csv',index=False)
merged_data = pd.read_csv('all_data.csv')
merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"